* {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}


html, body {
  margin: 0;
  padding: 0;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  body {
    width: 210mm; /* needed for Chrome */
  }
}

.sheet {
  width: 210mm;
  height: 296mm; /* 1mm余裕をもたせる */
  page-break-before: always;
  position: relative;

  margin-top: 0.5mm;
  &:nth-of-type(1) {
    page-break-before: auto;
  }
}

.browser-header {
  display: none;
  background-color: #777;
  color: white;
  padding: 10px;
  .btn {
    background: #eee;
    border-radius: 5px;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
  }

  input[type="text"] {
    display: inline-block;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    line-height: 24px;
  }
}

/* プレビュー用のスタイル */
@media screen {
  body {
    background: #eee;
  }

  .sheet {
    background: white; /* 背景を白く */
    box-shadow: 0 .5mm 2mm rgba(0, 0, 0, .3); /* ドロップシャドウ */
    margin: 10mm auto;
  }

  .browser-header {
    display: block;
  }

}

/* header */
.header {
  position: absolute;
  top: 4mm;
  left: 4mm;
}
